.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
ol, ul {
  list-style: none;
}
body {
  background: #edeff0;
  padding: 50px 0 0;
  font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}
h1{
  color:#006cb2;
}
button{
  border: 1px solid #006CB2;
}
a {
  color: #3f8abf;
  line-height: 1.4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul li {
  margin: 15px 0 0;
  font-size: 1.6em;
  position: relative;
}
ul.filter-select {
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
ul.filter-select li {
  margin: 0;
  padding: 0;
  text-align: center;
  display: table-cell;
}
ul.filter-select li:before {
  display: none;
}
ul.filter-select button {
  width: 100%;
  text-align: center;
  background: none;
  outline: none;
  padding: 15px;
  margin: 0;
  font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

ul.filter-select button.selected {
  background: #006CB2;
  color:#fff;
}
li:first-child > button,
li:first-child > button[class^="selected"]{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
li:last-child > button,
li:last-child > button[class^="selected"]{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
ul.filter-select button:after {
  content: "";
  display: block;
  position: absolute;
  right: -1px;
  top: 15px;
  bottom: 15px;
  width: 1px;
  background: #d1d6d9;
}

.current:first-child{
  border-top-right-radius: 0!important;
}
.current::after  {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #006CB2;
    content: " ";
    position: absolute;
    top: 50px;
    left: 45%;
}